---
export interface LinkButtonProps {
    variant: 'primary' | 'outlined' | 'ghost';
    color: 'primary' | 'secondary';
    link: string;
}

const {
    variant = 'primary',
    color = 'secondary',
    link,
} = Astro.props as LinkButtonProps;

const variantClasses = {
    primary: {
        primary: 'bg-primary-medium text-white hover:bg-primary-dark',
        secondary: 'bg-secondary text-white',
    },
    outlined: {
        primary:
            'border-primary-medium border-2 text-primary-medium hover:bg-primary-dark hover:text-white',
        secondary:
            'border-secondary border-2 text-secondary hover:bg-secondary hover:text-white',
    },
    ghost: {
        primary:
            'bg-primary-medium/[0.15] text-primary-medium hover:bg-primary-medium/[0.25]',
        secondary:
            'bg-secondary/[0.15] text-secondary hover:bg-secondary/[0.25]',
    },
};

const buttonVariant = variantClasses[variant][color];
---

<a
    href={link}
    class={`rounded-md 
    px-6 
    py-3
    hover:scale-105 
    transition-transform 
    duration-100 
    ease-out 
    grid
    grid-flow-col
    gap-2
    justify-center
    items-center
    'group'
    ${buttonVariant}`}>
    <slot />
</a>
