---
import Layout from '../layouts/Layout.astro';

const SEO = {
    title: 'homepage title',
    description: 'homepage description. Neat eh?',
};
---

<Layout seo={SEO}>
    <main>
        <h1>Primary Headline</h1>
        <h2>Secondary Headline</h2>
        <h3>Tertiary Headline</h3>
        <h4>This is an h4</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Et
            egestas quis ipsum suspendisse ultrices. Nibh praesent tristique
            magna sit amet purus. Quis imperdiet massa tincidunt nunc pulvinar
            sapien. Aliquet nec ullamcorper sit amet risus nullam eget. Dui
            sapien eget mi proin sed libero enim. Eu lobortis elementum nibh
            tellus molestie nunc non blandit. Tristique et egestas quis ipsum
            suspendisse ultrices gravida. Ut pharetra sit amet aliquam. Non
            tellus orci ac auctor augue mauris augue neque.
        </p>
    </main>
</Layout>
