---
import Layout from '../layouts/Layout.astro';
import LinkButton from '../components/Buttons/LinkButton.astro';
import { Image } from '@astrojs/image/components';
import ActionButton from '../components/Buttons/ActionButton';

const SEO = {
    title: 'showcase',
    description: 'component showcase page',
};

const imageUrl =
    'https://images.unsplash.com/photo-1657299156286-29f1a3a33ea3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80';
---

<Layout seo={SEO}>
    <main>
        <h1>Primary Headline</h1>
        <h2>Secondary Headline</h2>
        <h3>Tertiary Headline</h3>
        <h4>This is an h4</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Et
            egestas quis ipsum suspendisse ultrices. Nibh praesent tristique
            magna sit amet purus. Quis imperdiet massa tincidunt nunc pulvinar
            sapien. Aliquet nec ullamcorper sit amet risus nullam eget. Dui
            sapien eget mi proin sed libero enim. Eu lobortis elementum nibh
            tellus molestie nunc non blandit. Tristique et egestas quis ipsum
            suspendisse ultrices gravida. Ut pharetra sit amet aliquam. Non
            tellus orci ac auctor augue mauris augue neque.
        </p>
        <div class="bg-body-color-light-secondary py-20">
            <div
                class="max-w-4xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
                {
                    [1, 2, 3].map((i) => (
                        <LinkButton variant="ghost" link="/">
                            <span>Link Button</span>
                        </LinkButton>
                    ))
                }
            </div>
        </div>
        <div class="bg-body-color-light-secondary py-20">
            <div
                class="max-w-4xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
                {
                    [1, 2, 3].map((i) => (
                        <ActionButton client:load variant="ghost" color="secondary" callback={() => {}}>
                            <span>Action Button</span>
                        </ActionButton>
                    ))
                }
            </div>
        </div>
        <Image
            src={imageUrl}
            width={544}
            height={null}
            format="webp"
            aspectRatio={4 / 3}
        />
    </main>
</Layout>
