---
import { SEO } from 'astro-seo';
import '../styles/tailwind.css';
export interface Props {
    seo: {
        title: string;
        description: string;
    };
}

const { seo } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <SEO title={seo.title} description={seo.description} />
    </head>
    <body>
        <slot />
    </body>
</html>
